* {
  box-sizing: border-box;
  margin: 0;
}

.version-control {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2rem;
  margin: auto;
}

.version-control__paragraph {
  font-size: 18px;
  letter-spacing: 1.5;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  margin: auto;
  padding: 0 10% 0 10%;
}

.version-control__paragraph:hover {
  font-size: 16px;
  letter-spacing: 1.4;
  line-height: 1.4;
  color: #fff;
  background-color: #111;
  transition-duration: 1000ms;
  cursor: pointer;
}

.version-control__paragraph:active {
  font-size: 18px;
  letter-spacing: 1.5;
  line-height: 1.5;
  color: #000;
  transition-duration: 1000ms;
}